/* BookSeer styles */


/* Красные ссылки
a {color: #E44621 !important;}

nav.bd-links .current > a {box-shadow: inset max(3px,.1875rem,.12em) 0 0 #E44621;}

p.prev-next-title {color: #E44621 !important;}


.toc-entry a.nav-link.active {box-shadow: inset max(3px,.1875rem,.12em) 0 0 #E44621;}
*/


a {color: #000000 !important;}

nav.bd-links .current > a {box-shadow: inset max(3px,.1875rem,.12em) 0 0 #000000;}

p.prev-next-title {color: #000000 !important;}


.toc-entry a.nav-link.active {box-shadow: inset max(3px,.1875rem,.12em) 0 0 #000000;}

p.component-author {visibility: hidden;}

@media (min-width: 960px
nav.bd-links p.caption: {font-size: 16px !important}